#menu ul {
width: 100%;
height: auto;
padding: 10px;
margin: 0;
border-color: rgb(120, 198, 146);
background-color: rgb(5, 82, 154);
list-style: none; 
}


#menu ul li {
display: inline; 
}

/*escrito do botão*/

#menu ul li a {
font-family:"Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
padding: 2px 10px;
display: inline-block;
margin-left: 15px;
background-color:rgb(116, 43, 140);
color: rgb(217,36,190);
text-decoration: none; 
border-bottom: 3px solid #000000;

}

/*mouse em cima do botão*/

#menu ul li a:hover { 
color: #01cdfe;
border-bottom: 3px solid rgb(235, 72, 53);
}

#equipe {
	width: 150px;
	display: inline-block;

}
body {  background-image: url("imagens/backcley.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  }

@font-face{
	font-family: turbo;
	src: url(turbocharge.ttf);
}
  p {
  		font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
  	    text-shadow: 1px 0px 0px #FF00FF, 
                 -1px 0px 0px #FF00FF,
                 0px 1px 0px #FF00FF, 
                 0px -1px 0px #FF00FF;
    font-weight: bold;
    color: #FFF;
  }

  #title{
  	font-family: turbo;
  	color: rgb(217,36,190);
  	font-size:100px;
  }
  .subtitle
  {
    font-family: turbo;
  	font-size: 50px;
  	    text-shadow: 1px 0px 0px #FF00FF, 
                 -1px 0px 0px #FF00FF,
                 0px 1px 0px #FF00FF, 
                 0px -1px 0px #FF00FF;
    font-weight: bold;
    color: #FFF;
  }